# Eclipse
.project
.classpath
.settings/

# IntelliJ
*.iml
*.ipr
*.iws
.idea

# Gradle
.gradle/
.ivy/

# Maven
target/

# TestNG
test-output/

# JBoss AS
transaction.log

# Custom docker images - not relevant for distributing
.docker/
